* {
    box-sizing: border-box;
  }
.navbar-brand{
    padding: 8px 0px;
    position: relative;
    top: 8px;
}
.basik{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;  
    color:#448BFF;
    padding: 0px 18px;
    font-weight: 600;
    position: relative;
    top: 2px;
    right: 10px;
    height: 88px;
}
#left-area{
    background-color: whitesmoke;
}
.navbar-nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#99A0AC;
    font-size: 12px;
    padding: 16px 16px 8px;
    position: relative;
    right: 20px;
}

.sub-head{
    padding-bottom: 8px;
}

.nav-item{
   line-height: 1.5rem;
}
.nav-item span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #5E676F;
    margin: 0px 8px;
    padding: 11px 0px;
    width: 144px;
    height: 40px;
    line-height: 1.125rem;
    position: relative;
    top: 3px;
    padding-left: 10px;;
    
}
p{
    font-size: .7rem;
}
.number{
    font-size: .8rem;
    font-weight: bold;
}
#brd{
    padding: 1px;
}
 #application{
    padding-top: 8px;
}

#top{
    padding-top: 15px;
    width: 100%;
    padding-bottom: 15px;
}
#blue
{
    color: #448BFF;
}
#search{
    padding-left: 10px;;
}

#fullscreen{
    position: relative;
    left: 250px;
}

#settings{
    position: relative;
    left: 200px;
}

#notification{
    position: relative;
    left: 140px;
}

#account{
    position: relative;
    left: 80px;
}
#imgg{
height: 110px;
width: 170px;
}
#image8{
    background-color: #edf2ef;
    padding-top: 550px;
}
#lastone{
    height: 350px;
    width: 300px;
    padding: 20px;
}
#bar{
    text-align: right;
}
#img_i
{
    align-items: center;
    padding: 20px;
    width: 130px;
}
#img_11
{
    height: 150px;
    width: 270px;
}
#bchart{
    height: 500px;
    width: 600px;
}
.content {

    background-color: white;
    border: black;
    padding: 20px;
    border-radius: 5px;
    position: relative;
 }
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}

@media (min-width: 900px){
    .container-fluid {
      flex-direction: column;
    }
    .content {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      padding: 25px 50px;
    }
    .content:last-child {
      border-right: none;
    }
  }